* {
    box-sizing: border-box;
}

@media (min-width:992px) {
    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}

@media (min-width:768px) and (max-width: 991px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}

@media (max-width: 767) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}


[class*="col-"] {
    float: left;
    padding: 15px;
    
  }

.row{
    width:100%
}

.section{
    background-color: grey;
    border: 1px solid black;
    position:relative;
}


.title {
    position:absolute;
    right:1px;
    background-color: rgba(221, 203, 43, 0.582);
    padding:5px;
    margin:0px;
    border:1px solid black;
    width:30%;
    right:0px;
    text-align: center;
}

.para{
    padding-top:0px;
    padding-left: 15px;
    padding-right:15px;
    position:relative;
    top:22px;
    padding-bottom:10px;

}

#sushi {
    background-color: #e3cf96;
}

#chicken{
    background-color: pink;
}

#Beef {
    background-color:red;
}

#main-title {
    text-align: center;
    font-family: 'Hachi Maru Pop', cursive;
}